#events(data-role='page')
  div(data-role='panel', id='filterpanel', data-position='left', data-display='push')
    a(href='#events', data-role='button', data-rel='close') Close panel
    table#eventfilters
      tr
        td
          input#msgchk(type='checkbox', checked)
          label(for='msgchk') Message events
          input#receptionchk(type='checkbox', checked, data-mini='true')
          label(for='receptionchk') receptions
          input#rejectionchk(type='checkbox', checked, data-mini='true')
          label(for='rejectionchk') rejections
          input#delaychk(type='checkbox', checked, data-mini='true')
          label(for='delaychk') delays
          input#deliverychk(type='checkbox', checked, data-mini='true')
          label(for='deliverychk') deliveries
          input#inbandchk(type='checkbox', checked, data-mini='true')
          label(for='inbandchk') inband bounces
          input#bouncechk(type='checkbox', checked, data-mini='true')
          label(for='bouncechk') OOB bounces
          input#spamchk(type='checkbox', checked, data-mini='true')
          label(for='spamchk') Spam complaints
      tr
        td
          input#genchk(type='checkbox', checked)
          label(for='genchk') Generation events
          input#genfailchk(type='checkbox', checked, data-mini='true')
          label(for='genfailchk') gen failures
          input#genrejectchk(type='checkbox', checked, data-mini='true')
          label(for='genrejectchk') gen rejections
      tr
        td
          input#engchk(type='checkbox', checked)
          label(for='engchk') Engagement events
          input#openchk(type='checkbox', checked, data-mini='true')
          label(for='openchk') opens
          input#clickchk(type='checkbox', checked, data-mini='true')
          label(for='clickchk') clicks
      tr
        td
          input#unsubschk(type='checkbox', checked)
          label(for='unsubschk') Unsubscribe events
          input#listunsubschk(type='checkbox', checked, data-mini='true')
          label(for='listunsubschk') list unsubscribes
          input#linkunsubschk(type='checkbox', checked, data-mini='true')
          label(for='linkunsubschk') link unsubscribes

  div(data-role='header')
    a(href='#endpoints', class='ui-btn') Back
    h3 Endpoint Events:
      span(id="endpointnametitle")
  div(data-role='content')
    p
      | This page shows the recent events received by this endpoint with the most recent
      | ones at the top.  The last 100 events are available and this list will update
      | as new events are received.
    p Endpoint URL:
      span(id="endpointurl")
    div(data-role='main').ui-content
      .eventlistblock
        a(href='#filterpanel', data-role='button', data-mini='true') Filter events...
        ul#eventlst(data-role='listview')
